<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>{{ page_title }}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('css/app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <p>Hello World!</p>
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('js/app') }}
        {% endblock %}
    </body>
</html>
