security:
    encoders:
        App\Entity\User: 'auto'
    providers:
        app_user_provider:
            entity: { class: App\Entity\User, property: email }
    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        main:
            anonymous: lazy
            provider: app_user_provider
            guard:
                authenticators:
                    - App\Security\SecurityAuthenticator
            logout:
                path: app_logout
            remember_me:
                secret: '%env(APP_SECRET)%'
    access_control:
        - { path: '^/dashboard', roles: ROLE_USER }
